html, body{
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.left-tag {
    display: flex;
    flex-direction: column;
}

body {
    background-color:black;
}

.board{
    height: 23%;
    background-color: rgba(255,255,255,0.5);
}

.board-3{
    height: 28%;
    background-color: rgba(255,255,255,0.5);
}

ul {
    display: flex;
    flex-direction: row;
}

.head-bar{
    margin-bottom: 20px;
    height: 28%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.5);
}

.dice {
    text-align: center;
    margin: auto;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid;
    border-color:black;
    height: 50px;
    width: 50px;
    background-color:antiquewhite;
}

.wild {
    background-color: chocolate;
}

.tail-bar{
    margin-bottom: 20px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.5);
}

.project{
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 0px;
}

.project2{
    background-color: rgba(255,255,255,0);
}

.project3{
    background-color: rgba(255,255,255,0);
    width: 45%;
    display: flex;
    float: left;
}

.project3-5{
    background-color: rgba(255,255,255,0);
    width: 10%;
    height: 100%;
    display: flex;
    float: left;
}

.project4{
    background-color: rgba(255,255,255,0);
    width: 45%;
    display: flex;
    float: right;
}

.mod-panel {
    display: flex;
    flex-direction: row;
}

.mod-btn {
    display: flex;
    margin: auto;
}

.head-text{
    text-align: center;
    font-size:larger;
    font-weight:900;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.card {
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: 120px;
    background-color:aquamarine;
    border: 2px solid;
    border-color:crimson;
}

.dice-bar-fa {
    height: inherit;
}

#dice-bar {
    height: inherit;
}

#wild-dice-bar {
    height: inherit;
}

.active {
    border-color: chartreuse;
}